# Environment variables
.env
.env.example

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Python packaging
*.egg
*.egg-info/
dist/
build/

# Logs
logs/
*.log

# Virtual environments
venv/
env/
.venv/

# macOS
.DS_Store

# IDE settings (optional)
.vscode/
.idea/
.env
.env
